<div class="home-body">
  <h2>Busca por Paciente</h2>
  <form [formGroup]="searchForm" (submit)=search()>
    <mat-radio-group class="radio-group" formControlName="type">
      <mat-radio-button value="nome">Nome</mat-radio-button>
      <mat-radio-button value="cpf">CPF</mat-radio-button>
      <mat-radio-button value="dataNascimento">Data de Nascimento</mat-radio-button>
    </mat-radio-group>
    <input *ngIf="searchForm.get('type').value === 'nome' " type="text" placeholder="Informe o nome" formControlName="input">
    <input *ngIf="searchForm.get('type').value === 'cpf' " mask="000.000.000-99" minlength="11" type="text" placeholder="Informe o CPF" formControlName="input">
    <input *ngIf="searchForm.get('type').value === 'dataNascimento' " mask="00/00/0000" minlength="8" type="text" placeholder="Informe a data de nascimento " formControlName="input">
    <button class="button-add" type="submit" [disabled]="!searchForm.valid">Buscar</button>
  </form>
</div>
       