.list-users-container {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-header {
  display: flex;
  width: 100%;
  padding: 15px 15px 0 15px;

  span {
    flex: 1;
    font-weight: 500;
  }
}

.list-container {
  margin-top: 10px;
  width: 100%;

  li {
    list-style: none;
  }
}

.user-card {
  display: flex;
  flex-wrap: wrap;
  background: #7159c1;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;

  span {
    flex: 1;
    word-break: break-word;
  }
}

.user-card:hover {
  opacity: 0.95;
}