<a class="back-button" (click)="goBack()">
  <span class="material-icons">
    arrow_back
  </span>
  Voltar para a busca
</a>
<div class="list-forms-container">
  <h2>Formulários encontrados</h2>
  <div class="list-header">
    <span>Tipo de formulário</span>
    <span>Data de criação</span>
    <span></span>
  </div>
  <ul class="list-container">
    <li *ngFor="let form of forms">
      <div class="form-card" (click)="viewForm(form)">
        <span>{{form.type}}</span>
        <span>{{form.createdAt | date: 'dd/MM/yyyy'}}</span>
        <div class="card-actions">
          <span  style="padding: 0 10px 0 0;" title="Deletar" class="material-icons" (click)="deleteForm($event, form)">
            delete
          </span>
          <span style="padding: 0 10px 0 0;"  title="Editar" class="material-icons" (click)="editForm($event, form)">
            edit
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>