<a class="back-button" [routerLink]="['/app']">
  <span class="material-icons">
    arrow_back
  </span>
  Voltar para a busca
</a>
<div class="list-forms-container">
  <h2>Formulários encontrados</h2>
  <div class="list-header">
    <span>Tipo de formulário</span>
    <span>Data de criação</span>
    <span></span>
  </div>
  <ul class="list-container">
    <li *ngFor="let form of mock">
      <div class="form-card">
        <span>{{form.tipo}}</span>
        <span>{{form.createdAt}}</span>
        <span class="material-icons">
          delete
        </span>
      </div>
    </li>
  </ul>
</div>