<div class="background"></div>
<div class="home-container">
  <div class="home-header">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo"/>
      <span>Seja bem vindo, Marcos</span>
    </div>
    
    <div class="buttons-container">
      <div style="display: flex; flex-direction: row;">
        <button class="button-add button-header" [routerLink]="['/app/anamnese-geral']">Cadastrar anamnese</button>
        <button class="button-add button-header" [routerLink]="['/app/return-registration']">Cadastrar retorno</button>
      </div>
      <button class="button-logout button-header">
        <span class="material-icons">
          power_settings_new
        </span>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
  <!--
    <app-search style="height: 100%;"></app-search>
    <app-list-users style="height: 100%;"></app-list-users>
    <app-list-forms></app-list-forms>
  -->


</div>