<div style="display: flex; flex-direction: column;">
  <a class="back-button" [routerLink]="['/app']">
    <span class="material-icons">
      arrow_back
    </span>
    Voltar para a busca
  </a>
  <h2 style="text-align: center">Anamnese Inicial</h2>
  <mat-card style="margin-top: 15px;">
    <form [formGroup]="anamneseForm" class="matForm">

      <!--Informações pessoais-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Identificação</h3>
        </mat-expansion-panel-header>
        <section formGroupName="paciente">
          <div>
            <mat-form-field class="matInput">
              <input formControlName="nome" matInput name="nome" placeholder="Nome">
            </mat-form-field>

            <mat-form-field class="matInput">
              <input formControlName="cpf" matInput name="cpf" placeholder="CPF" mask="000.000.000-00">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="matInput">
              <input formControlName="dataNascimento" matInput [matDatepicker]="picker" name="data"
                placeholder="Data nasc.:">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="matInput">
              <input formControlName="religiao" matInput name="religiao" placeholder="Religião">
            </mat-form-field>
          </div>

          <div class="grid-2">
            <div class="col">
              <label id="example-radio-group-label">Etnia:&nbsp;</label>
              <mat-radio-group formControlName="etnia" aria-labelledby="example-radio-group-label" class="matInput">
                <mat-radio-button value="Branco">Branco</mat-radio-button>&nbsp;
                <mat-radio-button value="Pardo">Pardo</mat-radio-button>&nbsp;
                <mat-radio-button value="Negro">Negro</mat-radio-button>&nbsp;
                <mat-radio-button value="Amarelo">Amarelo</mat-radio-button>&nbsp;
                <mat-radio-button value="Indigena">Indígena</mat-radio-button>
              </mat-radio-group>
              &nbsp;
            </div>

            <div class="col">
              <label id="example-radio-group-label">Sexo:&nbsp;</label>
              <mat-radio-group formControlName="sexo" aria-labelledby="example-radio-group-label" class="matInput">
                <mat-radio-button value="M">M</mat-radio-button>&nbsp;
                <mat-radio-button value="F">F</mat-radio-button>&nbsp;
                <mat-radio-button value="Trans">Trans</mat-radio-button>
              </mat-radio-group>
              &nbsp;
            </div>
          </div>

          <div class="grid-2">
            <div class="col">
              <label id="example-radio-group-label">Orientação:&nbsp;</label>
              <mat-radio-group formControlName="orientacao" aria-labelledby="example-radio-group-label">
                <mat-radio-button value="hetero">Hetero</mat-radio-button>&nbsp;
                <mat-radio-button value="homo">Homo</mat-radio-button>&nbsp;
                <mat-radio-button value="trans">Trans</mat-radio-button>
              </mat-radio-group>
              &nbsp;
            </div>

            <div class="col">
              <label id="example-radio-group-label">Sit. conjugal:&nbsp;</label>
              <mat-radio-group formControlName="situacaoConjugal" aria-labelledby="example-radio-group-label">
                <mat-radio-button value="solteiro">Solteiro</mat-radio-button>&nbsp;
                <mat-radio-button value="casado">Casado</mat-radio-button>&nbsp;
                <mat-radio-button value="divorciado">Divorciado</mat-radio-button>&nbsp;
                <mat-radio-button value="viuvo">Viúvo</mat-radio-button>
              </mat-radio-group>
              &nbsp;
            </div>
          </div>

          <div>
            <div class="full col">
              <label id="example-radio-group-label">Escolaridade:&nbsp;</label>
              <mat-radio-group formControlName="escolaridade" aria-labelledby="example-radio-group-label" class="col">
                <mat-radio-button value="analfabeto">Analfabeto&nbsp;
                </mat-radio-button>
                <mat-radio-button value="le&escreve">Só lê e escreve&nbsp;
                </mat-radio-button>
                <mat-radio-button value="ens.medio">Ensino Fundamental&nbsp;
                </mat-radio-button>
                <mat-radio-button value="ens.fund">Ensino Medio&nbsp;
                </mat-radio-button>
                <mat-radio-button value="tecnico">Técnico&nbsp;
                </mat-radio-button>
                <mat-radio-button value="ens.sup">Ensino Superior&nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div>
            <mat-form-field class="matInput" style="margin-top: 5px;">
              <input formControlName="cidade" matInput name="nome" placeholder="Cidade e estado onde nasceu">
            </mat-form-field>

            <mat-form-field class="matInput" style="margin-top: 5px;">
              <input formControlName="ultimaCidade" matInput name="idade"
                placeholder="Última cidade e estado em que morou">
            </mat-form-field>
          </div>

          <div class="docs-pessoais">
            <div class="col">
              <label id="example-radio-group-label">Tem documentos pessoais?&nbsp;</label>
              <mat-radio-group formControlName="temDocsPessoais" aria-labelledby="example-radio-group-label"
                class="col">
                <mat-radio-button value="sim">Sim</mat-radio-button>
                &nbsp;
                <mat-radio-button value="nao">Não</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col" *ngIf="anamneseForm.value.paciente.temDocsPessoais == 'sim'">
              <label id="example-radio-group-label">Quais?</label>
              <div formGroupName="documentosPessoais" aria-labelledby="example-radio-group-label" class="col">
                <mat-checkbox [formControlName]="documento" style="padding: 5px;" class=""
                  *ngFor="let documento of docsPessoais">
                  {{documento}}</mat-checkbox>
              </div>
            </div>
          </div>

          <div>
            <mat-form-field style="width: 100%; margin-top: 5px;">
              <input matInput formControlName="contato" name="contato"
                placeholder="Se precisarmos entrar em contato com você, como podemos te encontrar?">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Perfil Socioeconômico-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Perfil Socioeconômico</h3>
        </mat-expansion-panel-header>
        <section formGroupName="perfilSocioeconomico">
          <div class="tempo-na-rua">
            <label id="example-radio-group-label">Há quanto tempo está na rua?</label>
            <mat-radio-group formControlName="tempoDeRua" aria-labelledby="example-radio-group-label" class="matInput">
              <mat-radio-button value="1"> 1 ano </mat-radio-button>&nbsp;
              <mat-radio-button value="1-2"> 1-2 anos </mat-radio-button>&nbsp;
              <mat-radio-button value="3-5"> 3-5 anos </mat-radio-button>&nbsp;
              <mat-radio-button value="+5"> +5 anos </mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
          <br>
          <div class="onde-vive">
            <label id="example-radio-group-label">Onde costuma dormir?</label>&nbsp;
            <mat-radio-group formControlName="ondevive" aria-labelledby="example-radio-group-label" class="matInput">
              <mat-radio-button value="rua">Rua?</mat-radio-button>&nbsp;
              <mat-form-field>
                <input formControlName="nomeDarua" matInput name="qualRua" placeholder="Qual?">
              </mat-form-field>
              <mat-radio-button value="albergue">Albergue</mat-radio-button>&nbsp;
              <mat-radio-button value="pousoPago">Pouso pago</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="matInput">
              <input formControlName="outrosRua" matInput name="outro" placeholder="Outro:">
            </mat-form-field>
          </div>
          <div class="na-rua">
            <label>Está na rua:</label>&nbsp;
            <mat-radio-group formControlName="comQuemEstaNaRua" aria-labelledby="example-radio-group-label">
              <mat-radio-button value="sozinho">Sozinho?</mat-radio-button>
              &nbsp;
              <mat-radio-button value="comFamilia">Com familia?
              </mat-radio-button>
              &nbsp;
              <mat-radio-button value="comAmigos">Com amigos?
              </mat-radio-button>
            </mat-radio-group> &nbsp;
          </div>
          <div class="col" formGroupName="seAcompanhado">
            <div>
              <label id="example-radio-group-label">Se acompanhado:</label>&nbsp;
              <mat-form-field style="margin-right: 5px;">
                <input type="number" formControlName="numeroAdultos" matInput name="outro" placeholder="Nº de adultos:">
              </mat-form-field>
              <mat-form-field>
                <input type="number" #criancas formControlName="numeroCriancas" matInput name="outro"
                  placeholder="Nº de crianças:">
              </mat-form-field>
            </div>
            <div class="col" *ngIf="criancas.value > 0">
              <label id="example-radio-group-label" style="margin-right: 5px;">Se com crianças:</label>
              <mat-form-field>
                <input formControlName="ondeFicam" matInput name="outro" placeholder="Onde ficam?:">
              </mat-form-field>
              <mat-radio-group formControlName="estudam" aria-labelledby="example-radio-group-label">
                <label id="example-radio-group-label">Elas estudam?</label>&nbsp;
                <mat-radio-button value="S">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="N">Não</mat-radio-button>
              </mat-radio-group>&nbsp;
            </div>
          </div>
          <div class="col">
            <mat-radio-group formControlName="parentesEmCuritiba" aria-labelledby="example-radio-group-label">
              <label id="example-radio-group-label">Parentes moram em Curitiba?</label>&nbsp;
              <mat-radio-button value="S">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N">Não</mat-radio-button>
            </mat-radio-group>&nbsp;&nbsp;
            <mat-form-field *ngIf="anamneseForm.value.perfilSocioeconomico.parentesEmCuritiba == 'N'">
              <input formControlName="localidadeParentes" matInput name="outro" placeholder="Se não, onde?">
            </mat-form-field>&nbsp;

            <mat-radio-group formControlName="temContato" aria-labelledby="example-radio-group-label">
              <label id="example-radio-group-label">Tem contato com eles?</label>&nbsp;
              <mat-radio-button value="S">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N">Não</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <input formControlName="renda" matInput name="" placeholder="Como você ganha dinheiro?">
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-radio-group formControlName="carteiraAssinada" aria-labelledby="example-radio-group-label">
              <label id="example-radio-group-label">Já teve emprego formal/carteira
                assinada?</label>&nbsp;
              <mat-radio-button value="S">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N">Não</mat-radio-button>
            </mat-radio-group>
            <mat-form-field style="width: 100%;"
              *ngIf="anamneseForm.value.perfilSocioeconomico.carteiraAssinada == 'S'">
              <input formControlName="ocupacaoClt" matInput name="ocupacao" placeholder="Com qual ocupação?">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <!--PERFIL PSICOSSOCIAL -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Perfil Psicossocial</h3>
        </mat-expansion-panel-header>
        <section formGroupName="perfilPsicosocial">
          <div style="display: flex; flex-direction: column;">
            <label> Motivo pelo qual está na rua:</label>
            <div formGroupName="motivoRua" style="display: grid; grid-template-columns: 1fr 1fr;">
              <mat-checkbox value="Sim" formControlName="desemprego" class="display-center">Desemprego</mat-checkbox>
              <mat-checkbox value="Sim" formControlName="usoSubstancias" class="display-center">Uso de substancias
              </mat-checkbox>
              <mat-checkbox value="Sim" formControlName="conflitoFamiliar" class="display-center">Conflito Familiar
              </mat-checkbox>
              <mat-form-field>
                <input matInput name="outrosMotivos" placeholder="Outros" formControlName="outrosMotivos">
              </mat-form-field>
            </div>
          </div>
          <div class="substancias-container" formGroupName="usoSubstancias">
            <div class="left">
              <div>
                <mat-radio-group formControlName="uso">
                  <label id="example-radio-group-label"><strong>Uso de
                      substâncias:</strong></label>&nbsp;
                  <mat-radio-button value="true" labelPosition="before">Sim</mat-radio-button>&nbsp;
                  <mat-radio-button value="false" labelPosition="before" selected>Não
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.uso == 'true'">
                <div formGroupName="Alcool" class="substancia-item-container">
                  <mat-checkbox class="" value="true" formControlName="uso">Álcool</mat-checkbox>
                  <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.Alcool.uso"
                    class="substancia-item-container">
                    <mat-form-field>
                      <input matInput name="quantidade" placeholder="Quantidade (ex: 2 copos)"
                        formControlName="quantidade">
                    </mat-form-field>
                    <mat-radio-group formControlName="tipoDeUso">
                      <mat-radio-button value="Diário">Diário</mat-radio-button>
                      <mat-radio-button value="Esporádico" style="margin: 5px;">Esporádico
                      </mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field
                      *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.Alcool.tipoDeUso == 'Esporádico'">
                      <input matInput name="quantidade" placeholder="x na sem." formControlName="frequencia"
                        [required]="anamneseForm.value.perfilPsicosocial.usoSubstancias.Alcool.tipoDeUso == 'Esporádico'">
                    </mat-form-field>
                  </div>
                </div>
                <div formGroupName="Cigarro" class="substancia-item-container">
                  <mat-checkbox class="" value="true" formControlName="uso">Cigarro</mat-checkbox>
                  <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.Cigarro.uso">
                    <mat-form-field>
                      <input matInput placeholder="Quantidade/Maços" formControlName="quantidade">
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                      <input matInput placeholder="Tempo/Anos" formControlName="tempoDeUso">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.uso == 'true'"
              style="display: flex; flex-direction: column;">
              <div *ngFor="let droga of drogas" [formGroupName]="droga.nome" class="substancia-item-container">
                <mat-checkbox formControlName="uso">{{droga?.nome}}</mat-checkbox>
                <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias[droga.nome].uso">
                  <mat-radio-group formControlName="tipoDeUso">
                    <mat-radio-button value="Diário">Diário</mat-radio-button>&nbsp;
                    <mat-radio-button value="Esporádico">Esporádico</mat-radio-button>
                  </mat-radio-group>
                  <mat-form-field
                    *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias[droga.nome].tipoDeUso == 'Esporádico'">
                    <input matInput placeholder="X na sem," formControlName="frequencia"
                      [required]="anamneseForm.value.perfilPsicosocial.usoSubstancias[droga.nome].tipoDeUso == 'Esporádico'">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <mat-radio-group formControlName="abstinente" aria-labelledby="example-radio-group-label">
                <label id="example-radio-group-label">Já ficou abstinente?</label>&nbsp;
                <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.abstinente == 'S'">
                <mat-form-field class="matInput">
                  <input matInput name="" placeholder="De qual substância?" formControlName="qualSubstancia">
                </mat-form-field>
                <mat-form-field class="matInput">
                  <input matInput name="" placeholder="Por quanto tempo?" formControlName="tempoAbstinencia">
                </mat-form-field>
              </div>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="tratou">
                <label id="example-radio-group-label">Já tratou?</label>&nbsp;
                <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>

              <mat-form-field class="full" *ngIf="anamneseForm.value.perfilPsicosocial.usoSubstancias.tratou == 'S'">
                <input matInput name="como" placeholder="Como?" formControlName="comoTratou">
              </mat-form-field>
            </div>
          </div>
          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="atendidoPor">
            <label id="example-radio-group-label">Ja foi atendido por:</label>&nbsp;
            <mat-radio-button value="Psicólogo" labelPosition="before">Psicólogo</mat-radio-button>&nbsp;
            <mat-radio-button value="Psiquiatra" labelPosition="before">Psiquiatra</mat-radio-button>
          </mat-radio-group>
          <div>
            <div formGroupName="problemaMental" style="margin-top: 10px">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="possui">
                <label id="example-radio-group-label">Tem algum problema mental?</label>&nbsp;
                <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="anamneseForm.value.perfilPsicosocial.problemaMental.possui == 'S'" style="margin-top: 10px;">
                <label>Qual?</label>
                <mat-checkbox formControlName="Depressão" value="S">Depressão</mat-checkbox>
                <mat-checkbox formControlName="Esquizofrenia" value="S">Esquizofrenia</mat-checkbox>
                <mat-checkbox formControlName="Transtorno do Pânico" value="S">Transt. do pânico</mat-checkbox>&nbsp;
                <mat-form-field class="full">
                  <input matInput name="outro" placeholder="Outros:" forControlName="Outro">
                </mat-form-field>
              </div>
              <div style="margin-top: 10px;">
                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="tratou">
                  <label id="example-radio-group-label">Já tratou?</label>&nbsp;
                  <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
                  <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="full" *ngIf="anamneseForm.value.perfilPsicosocial.problemaMental.tratou == 'S'">
                  <input matInput name="comoTratou" placeholder="Como?" formControlName="comoTratou">
                </mat-form-field>
              </div>
            </div>

            <div style="margin-top: 10px;" formGroupName="servicos">
              <label>Já ultilizou algum desses serviços?</label>
              <div *ngFor="let servico of servicos" [formGroupName]="servico">
                <mat-checkbox value="sim" formControlName="usou">{{servico}}</mat-checkbox>
                <div *ngIf="anamneseForm.value.perfilPsicosocial.servicos[servico].usou">
                  <mat-form-field class="matInput">
                    <input matInput name="" placeholder="Qual?" formControlName="qual">
                  </mat-form-field>
                  <mat-form-field class="matInput">
                    <input matInput name="" placeholder="Onde?" formControlName="onde">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <mat-form-field class="full">
              <input matInput name="" placeholder="Onde busca ajuda quando tem problema de saúde?"
                formControlName="ondeBuscaAjuda">
            </mat-form-field>
            <mat-form-field class="full">
              <input matInput name="" placeholder="Como podemos te ajudar a sair das ruas?"
                formControlName="comoPodemosAjudar">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <!--Sinais vitais-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Sinais Vitais</h3>
        </mat-expansion-panel-header>

        <section class="sinais-vitais" formGroupName="sinaisVitais">
          <mat-form-field class="matInput">
            <input formControlName="freqCardiaca" matInput name="bpm" placeholder="Freq.Cardiaca (bpm)">
          </mat-form-field>

          <mat-form-field class="matInput">
            <input formControlName="freqRespiratoria" matInput name="ipm" placeholder="Freq.Respiratoria (ipm)">
          </mat-form-field>

          <mat-form-field class="matInput">
            <input formControlName="pressaoArterial" matInput name="mmhg" placeholder="Pressão Arterial (mm Hg)">
          </mat-form-field>

          <mat-form-field class="matInput">
            <input formControlName="sat" matInput name="sat" placeholder="Sat.O2(%)">
          </mat-form-field>

          <mat-form-field class="matInput">
            <input formControlName="temperatura" matInput name="temperatura" placeholder="Temperatura °C">
          </mat-form-field>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Avaliação Nutricional-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Avaliação nutricional</h3>
        </mat-expansion-panel-header>
        <section class="avaliacao-nutricional" formGroupName="avaliacaoNutricional">
          <mat-form-field class="matInput">
            <input formControlName="responsavel" matInput name="responsavel" placeholder="Responsável">
          </mat-form-field>
          <strong>Medidas:</strong>
          <div class="medidas" formGroupName="medidas">
            <mat-form-field class="matInput">
              <input formControlName="hemienvergadura" matInput name="hemienvergadura"
                placeholder="Hemienvergadura (cm)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="alturaEstimada" matInput name="alturaEstimada" placeholder="Altura estimada (cm)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="alturaRelatada" matInput name="alturaRelatada" placeholder="Altura relatada (m)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="pesoUsual" matInput name="pesoUsual" placeholder="Peso usual (kg)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="pesoAferido" matInput name="pesoAferido" placeholder="Peso aferido (kg)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="imc" matInput name="imc" placeholder="IMC (kg/m²)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="cintura" matInput name="cintura" placeholder="Cintura (cm)">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="bracoDireito" matInput name="bracoDireito" placeholder="C. Br D (cm)">
            </mat-form-field>
          </div>
          <div class="mastigacao">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="problemasParaMastigar">
              <label id="example-radio-group-label">Tem problemas para mastigar?</label>&nbsp;
              <mat-radio-button value="Sim" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="Não" labelPosition="before">Não</mat-radio-button>
            </mat-radio-group>
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="deixaDeComer">
                <label id="example-radio-group-label">Deixa de comer alguns alimentos por não conseguir
                  mastigar?</label>&nbsp;
                <mat-radio-button value="Sim" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="Não" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="matInput" *ngIf="anamneseForm.value.avaliacaoNutricional.deixaDeComer == 'Sim'">
                <input formControlName="naoCome" matInput name="naoCome" placeholder="Quais?">
              </mat-form-field>
            </div>
          </div>
          <div class="peso-perdido">
            <label>Percebeu se perdeu peso no último mês? Se sim, quanto?</label>
            <mat-form-field class="matInput">
              <input formControlName="pesoPerdido" matInput name="pesoPerdido" placeholder="Peso perdido (kg)">
            </mat-form-field>
          </div>
          <div class="grid-2">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="HAS">
              <label id="example-radio-group-label">HAS?</label>&nbsp;
              <mat-radio-button value="Sim">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="Não">Não</mat-radio-button>&nbsp;
              <mat-radio-button value="Não sabe">Não sabe</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="DM">
              <label id="example-radio-group-label">DM?</label>&nbsp;
              <mat-radio-button value="Sim">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="Não">Não</mat-radio-button>&nbsp;
              <mat-radio-button value="Não sabe">Não sabe</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="problemas-digestivos">
            <label>Problemas digestivos:</label>
            <div class="problemas-digestivos-group" formGroupName="problemasDigestivos">
              <mat-checkbox value="Azia" formControlName="Azia">Azia</mat-checkbox>
              <mat-checkbox value="Gases" formControlName="Gases">Gases</mat-checkbox>
              <mat-checkbox value="Diarreia" formControlName="Diarreia">Diarreia</mat-checkbox>
              <mat-checkbox value="Constipação" formControlName="Constipação">Constipação</mat-checkbox>
            </div>
          </div>
          <div class="ultima-semana" formGroupName="ultimaSemana">
            <div style="margin-top: 10px;">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="fiqueiSemComer">
                <label id="example-radio-group-label">Na última semana fiquei um dia todo, ou +, sem comer</label>&nbsp;
                <mat-radio-button value="Sim" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="Não" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="matInput"
                *ngIf="anamneseForm.value.avaliacaoNutricional.ultimaSemana.fiqueiSemComer == 'Sim'">
                <input formControlName="diasSemComer" matInput name="diasSemComer" placeholder="Dias sem comer">
              </mat-form-field>
            </div>
            <div style="margin-top: 10px;">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="cozinhei">
                <label id="example-radio-group-label">Cozinhou pra você na última semana?</label>&nbsp;
                <mat-radio-button value="Sim" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="Não" labelPosition="before">Não</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="matInput"
                *ngIf="anamneseForm.value.avaliacaoNutricional.ultimaSemana.cozinhei == 'Sim'">
                <input formControlName="comoCozinhei" matInput name="comoCozinhei" placeholder="Como cozinhou?">
              </mat-form-field>
            </div>
          </div>
          <div class="copos-dagua">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="refeicoesOntem">
              <label id="example-radio-group-label">Quantas refeicoes fez ontem?</label>&nbsp;
              <mat-radio-button value="0">0</mat-radio-button>&nbsp;
              <mat-radio-button value="1">1</mat-radio-button>&nbsp;
              <mat-radio-button value="2">2</mat-radio-button>&nbsp;
              <mat-radio-button value=">3">>3</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="tomouAguaOntem">
              <label id="example-radio-group-label">Tomei mais de 2 copos de água ontem?</label>&nbsp;
              <mat-radio-button value="Sim" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="Não" labelPosition="before">Não</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="matInput">
            <input formControlName="fonteDaAgua" matInput name="fonteDaAgua" placeholder="Fonte da água">
          </mat-form-field>
          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="qualidadeAlimentacao">
            <label id="example-radio-group-label">Acho a minha alimentação:</label>&nbsp;
            <mat-radio-button value="Boa">Boa</mat-radio-button>&nbsp;
            <mat-radio-button value="Ruim">Ruim</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="matInput">
            <input formControlName="comoConsegueComida" matInput name="comoConsegueComida"
              placeholder="Como consigo comida normalmente?">
          </mat-form-field>
          <mat-form-field class="matInput">
            <input formControlName="alimentosComuns" matInput name="alimentosComuns"
              placeholder="Quais alimentos como mais?">
          </mat-form-field>
          <mat-form-field class="matInput">
            <input formControlName="alimentosDesejados" matInput name="alimentosDesejados"
              placeholder="Quais alimentos sinto falta de comer?">
          </mat-form-field>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Queixa Principal-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Queixa Principal</h3>
        </mat-expansion-panel-header>
        <section formGroupName="queixaPrincipal">
          <mat-form-field class="full">
            <input formControlName="descricao" matInput name="descricao" placeholder="Descrição">
          </mat-form-field>
          <div>
            <mat-form-field class="matInput">
              <input formControlName="quantoTempo" matInput name="quantoTempo" placeholder="Quanto Tempo?">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input formControlName="quandoComecou" matInput name="quandoComecou" placeholder="Quando Começou?">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Historia Morbida Atual-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Historia Mórbida Atual</h3>
        </mat-expansion-panel-header>
        <section formGroupName="historiaMorbidaAtual">
          <div formGroupName="sintoma" class="historia-morbida-atual-group">
            <mat-checkbox [formControlName]="sintoma" style="padding: 5px;" *ngFor="let sintoma of sintomas">
              {{sintoma}}
            </mat-checkbox>
          </div>
          <div>
            <mat-form-field class="full">
              <input formControlName="outros" matInput name="outros" placeholder="Outros">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full">
              <textarea maxlength="1000" formControlName="detalhes" matInput formname="detalhes"
                placeholder="Detalhar: local, início, tipo/característica, irradiação, periodicidade, duração, fatores de melhora/piora, intensidade, sintomas associados"></textarea>
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Historia Morbida Progressa-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Historia Mórbida Pregressa</h3>
        </mat-expansion-panel-header>
        <section formGroupName="historiaMorbidaPregressa">
          <div class="historia-morbida-pregressa">
            <div *ngFor="let doenca of doencas" [formGroupName]="doenca" style="display: flex; align-items: center;">
              <mat-checkbox formControlName="possui" value=true style="padding: 5px;">
                {{doenca}}
              </mat-checkbox>
              <mat-form-field *ngIf="anamneseForm.value.historiaMorbidaPregressa[doenca].possui">
                <input matInput name="outros" formControlName="duracao" placeholder="Há quanto tempo?">
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-form-field class="full">
              <input formControlName="doencasInfancia" matInput name="doencasInfancia"
                placeholder="Doenças da infância:">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="convulsoes" matInput name="convulsoes"
                placeholder="Convulsões (origem/causa/quantas - como ocorreu?):">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="internacoesOuCirugias" matInput name="internacoesOuCirugias"
                placeholder="Internações/Cirurgia (quando, motivo, tempo de internação e NOME DO HOSPITAL onde esteve internado):">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="traumas" matInput name="traumas"
                placeholder="Trauma, acidente ou algum tipo de violência?">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="medContinuas" matInput name="medContinuas"
                placeholder="Medicações de uso contínuo:">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="alergias" matInput name="alergias"
                placeholder="Alergias (qual agente e qual foi a reação alérgica):">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Historia Morbida Familiar-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Historia Mórbida Familiar</h3>
        </mat-expansion-panel-header>
        <section formGroupName="historiaMorbidaFamiliar">
          <div>
            <mat-form-field class="full">
              <input formControlName="mae" matInput name="mae"
                placeholder="Mãe (morbidades/viva/falecida – motivo do falecimento):">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="pai" matInput name="pai"
                placeholder="Pai (morbidades/viva/falecida – motivo do falecimento):">
            </mat-form-field>

            <mat-form-field class="full">
              <input formControlName="irmaos" matInput name="irmaos"
                placeholder="Irmãos (morbidades/viva/falecida – motivo do falecimento):">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Condções e Hábito de Vida-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Condições e Hábito de Vida</h3>
        </mat-expansion-panel-header>
        <section formGroupName="habitosDeVida">
          <div>
            <mat-radio-group formControlName="atividadeFisica" aria-labelledby="example-radio-group-label">
              <label id="example-radio-group-label">Atividade física:</label>&nbsp;
              <mat-radio-button value="Sedentario">Sedentário</mat-radio-button>&nbsp;
              <mat-radio-button value="Ativo">Ativo</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="full" *ngIf="anamneseForm.value.habitosDeVida.atividadeFisica == 'Ativo'">
              <input formControlName="qualAtividade" matInput name="pratica" placeholder="O que pratica?">
            </mat-form-field>
          </div>
          <div formGroupName="atividadeSexual" style="margin-top: 10px;">
            <label>Atividade Sexual:</label>&nbsp;
            <mat-radio-group formControlName="protegida">
              <mat-radio-button value=true>Protegida</mat-radio-button>&nbsp;
              <mat-radio-button value=false>Desprotegida</mat-radio-button>&nbsp;
            </mat-radio-group>
            <mat-radio-group formControlName="parceiroUnico">
              <mat-radio-button value=true>Parceiro(a) único(a)</mat-radio-button>&nbsp;
              <mat-radio-button value=false>Múltiplos(as) parceiros(as)</mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <div>
            <mat-radio-group formControlName="testeDst" aria-labelledby="example-radio-group-label">
              <label>Já fez teste para diagnóstico de: HIV/HEPATITE/SÍFILIS?</label>&nbsp;
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--HISTÓRIA GINECOLOGICO-OBSTÉTRICA-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>História Ginecologico - Obstétrica</h3>
        </mat-expansion-panel-header>
        <section formGroupName="historiaGinecologica">
          <div>
            <mat-form-field class="matInput">
              <input formControlName="ultimoExame" matInput placeholder="Último exame ginecológico:">
            </mat-form-field>

            <mat-form-field class="matInput">
              <input matInput formControlName="dum" placeholder="DUM">
            </mat-form-field>

            <mat-radio-group formControlName="fertilidade">
              <mat-radio-button value="Idade Fertil">Idade fértil</mat-radio-button>&nbsp;
              <mat-radio-button value="Menopausa">Menopausa</mat-radio-button>
            </mat-radio-group>

          </div>
          <br>
          <div>
            <mat-radio-group formControlName="cicloMenstrual">
              <label>Ciclo Menstrual</label>&nbsp;
              <mat-radio-button value="Regular" labelPosition="before">Regular</mat-radio-button>&nbsp;
              <mat-radio-button value="Irregular" labelPosition="before">Irregular</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
          <div>
            <mat-radio-group formControlName="usoAnticoncepcional">
              <label>Faz uso de anticoncepcional?</label>&nbsp;
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
            <mat-form-field class="matInput">
              <input formControlName="ondeAcompanha" matInput placeholder="Qual e onde acompanha?">
            </mat-form-field>
          </div>
          <div>
            <mat-radio-group formControlName="doacaoAnticoncepcional">
              <label>Aplicação/doação de anticoncepcional na ação?</label>&nbsp;
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
            <mat-form-field class="matInput">
              <input formControlName="qualAnticoncepcional" matInput placeholder="Qual?">
            </mat-form-field>
          </div>
          <mat-form-field class="full">
            <input matInput formControlName="quantFilhos" name="quantFilhos" placeholder="Tem quantos filhos?">
          </mat-form-field>
          <div class="medidas">
            <mat-form-field class="matInput">
              <input formControlName="vaginal" matInput name="vaginal" placeholder="Vaginal">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input matInput formControlName="cesarea" name="cesarea" placeholder="Cesárea">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input matInput formControlName="abortos" name="abortos" placeholder="Abortos:">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input matInput formControlName="complicParto" name="complicParto" placeholder="Complicações no parto?">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Exame Físico-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Exame Físico</h3>
        </mat-expansion-panel-header>
        <section formGroupName="exameFisico">
          <mat-form-field class="full">
            <input matInput formControlName="estadoGeral" name="estadoGeral"
              placeholder="Estado geral, nível de consciência, hidratação, estado nutricional, mucosas, linfonodos:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="cabeçaEPescoço" name="cabeçaEPescoço" placeholder="Cabeça e pescoço:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="cardiopulmonar" name="cardiopulmonar" placeholder="Cardiopulmonar:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="gastrintestinal" name="gastrintestinal" placeholder="Gastrintestinal:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="neurologico" name="neurologico" placeholder="Neurológico:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="dermatológico" name="dermatológico" placeholder="Dermatológico:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="geniturinário" name="geniturinário" placeholder="Geniturinário:">
          </mat-form-field>
          <mat-form-field class="full">
            <input matInput formControlName="outros" name="outros" placeholder="Outros:">
          </mat-form-field>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Exames Laboratoriais-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Exames Laboratoriais</h3>
        </mat-expansion-panel-header>
        <section formGroupName="examesLaboratoriais">
          <div class="laboratoriais-container">
            <div *ngFor="let exame of exames">
              <mat-checkbox style="padding:5px;" [formControlName]="exame.nome">
                {{exame.nome}}
              </mat-checkbox>
            </div>
          </div>
          <div>
            <mat-form-field class="full">
              <input matInput formControlName="Outros" name="outros" placeholder="Outros:">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Procedimentos de Enfermagem-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Procedimentos de Enfermagem</h3>
        </mat-expansion-panel-header>
        <strong>Curativo:</strong>
        <br>
        <section>
          <div formGroupName="procedimentosEnfermagem">
            <div formGroupName="informacoesAdicionais">
              <mat-form-field class="full">
                <input matInput formControlName="motivo" name="motivo" placeholder="Motivo:">
              </mat-form-field>
              <mat-form-field class="full">
                <input matInput formControlName="localizacao" name="localizacao" placeholder="Localização:">
              </mat-form-field>
              <mat-form-field class="full">
                <input matInput formControlName="descricao" name="descricao" placeholder="Descrição:">
              </mat-form-field>
              <mat-form-field class="full">
                <input matInput formControlName="responsavel" name="responsavel" placeholder="Responsável:">
              </mat-form-field>
            </div>
            <label>Materiais:</label>
            <div class="laboratoriais-container">
              <div *ngFor="let material of materiais" style="display: flex; align-items: center;">
                <mat-checkbox style="padding: 5px;" [formControlName]="material">
                  {{material}}
                </mat-checkbox>
              </div>
              <mat-form-field class="full">
                <input matInput formControlName="outros" name="outros" placeholder="Outros:">
              </mat-form-field>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Medicação Intramuscular-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Medicação Intramuscular</h3>
        </mat-expansion-panel-header>
        <section formGroupName="medicacaoIntramuscular">
          <div>
            <mat-form-field class="full">
              <input matInput formControlName="medicamentoEdose" name="outros" placeholder="Medicamento e Dose:">
            </mat-form-field>
            <div style="display: flex;">
              <mat-radio-group formControlName="local" class="matInput">
                <label id="example-radio-group-label">Local:</label>&nbsp;
                <mat-radio-button value="Delt" labelPosition="before">Delt</mat-radio-button>&nbsp;
                <mat-radio-button value="Glut" labelPosition="before">Glut</mat-radio-button>&nbsp;
                <mat-radio-button value="Ventro-glut." labelPosition="before">Ventro-glut</mat-radio-button>&nbsp;
              </mat-radio-group>

              <mat-radio-group formControlName="lado" class="matInput">
                <label id="example-radio-group-label">Lado:</label>&nbsp;
                <mat-radio-button value="direito" labelPosition="before">D</mat-radio-button>&nbsp;
                <mat-radio-button value="esquerdo" labelPosition="before">E</mat-radio-button>&nbsp;
              </mat-radio-group>
            </div>
          </div>
          <div>
            <mat-form-field class="matInput">
              <input matInput formControlName="prescritor" name="prescritor" placeholder="Prescritor">
            </mat-form-field>
            <mat-form-field class="matInput">
              <input matInput formControlName="responsavel" name="responsavel" placeholder="Responsável">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Medicamentos-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Medicamentos</h3>
        </mat-expansion-panel-header>
        <section formGroupName="medicamentos">
          <div class="medicamentos">
            <mat-radio-group formControlName="sabiaDaPatologia" class="matInput">
              <label id="example-radio-group-label">O paciente já sabia que tinha essa patologia:</label><br>
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>

            <mat-radio-group formControlName="jaUsouMedicacao" class="matInput">
              <label id="example-radio-group-label">Já faz uso dessa medicação:</label><br>
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
            <mat-radio-group formControlName="houveNecessida" class="matInput">
              <label id="example-radio-group-label">Houve necessidade de medicação:</label><br>
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>

            <mat-radio-group formControlName="foiExplicadoUso" class="matInput">
              <label id="example-radio-group-label">Foi explicado como usar a medicação:</label><br>
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
          <div>
            <mat-form-field class="matInput">
              <input matInput formControlName="motivo" name="motivo" placeholder="Motivo:">
            </mat-form-field>

            <mat-form-field class="matInput">
              <input matInput formControlName="dispensado" name="dispensado"
                placeholder="Foi dispensada a seguinte quantidade de medicação:">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full">
              <input matInput formControlName="medicacao" name="medicacao" placeholder="Medicação:">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="matInput">
              <input matInput formControlName="paAntesMedicacao" name="paAntesMedicacao"
                placeholder="PA ANTES do medicamento:">
            </mat-form-field>

            <mat-form-field class="matInput">
              <input matInput formControlName="paDepoisMedicacao" name="paDepoisMedicacao"
                placeholder="PA DEPOIS do medicamento">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <!--Encaminhamentos Externos-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Encaminhamentos Externos</h3>
        </mat-expansion-panel-header>
        <section formGroupName="encaminhamentosExternos" class="encaminhamentos-externos">
          <div style="display: flex;">
            <mat-radio-group formControlName="encUBS" class="matInput">
              <label id="example-radio-group-label">Encaminhamento para UBS:</label>&nbsp;
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>

            <mat-radio-group formControlName="encUPA" class="matInput">
              <label id="example-radio-group-label">Encaminhamento para UPA</label>&nbsp;
              <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
              <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
          <div>
            <br>
            <div style="display: flex;">
              <mat-radio-group formControlName="encCAPS" class="matInput">
                <label id="example-radio-group-label">Encaminhamento para CAPS</label>&nbsp;
                <mat-radio-button value="S" labelPosition="before">Sim</mat-radio-button>&nbsp;
                <mat-radio-button value="N" labelPosition="before">Não</mat-radio-button>&nbsp;
              </mat-radio-group>

              <mat-form-field class="matInput" style="margin-top: -15px;">
                <input matInput formControlName="outro" name="outro" placeholder="Outro? Qual?:">
              </mat-form-field>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </form>
  </mat-card>
  <div style="display: flex; flex-direction: row-reverse; margin-top: 10px; margin-bottom: 10px;">
    <button class="submit-button" (click)="submitForm()" [disabled]="!anamneseForm.valid">Salvar</button>&nbsp;
  </div>
</div>