h3 {
	border-bottom:1px solid;
}

.matInput {
	width: 100%;
	min-width: 150px;
	max-width: 50%;
	padding: 0 5px 0 5px !important;
}
input {
	padding: 0 5px 0 5px!important;
}

.sinais-vitais {
	display:flex;
	flex-direction: row;
	width: 100%;
}

@media(max-width: 750px) {
	.sinais-vitais {
		flex-direction: column;
	}
}

.full {
	max-width: 100%!important
}
.checkbox-section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 55px;
  }