<div class="login-container">
  <div class="login-body">
    <img src="../../assets/logo.png" alt="Logo" width="200"/>
    <div class="login-error" *ngIf="error">
      <span>{{ error }}</span>
    </div>
    <form action="submit" (ngSubmit)="submit()" [formGroup]="loginForm">
      <input type="text" placeholder="Usuário" formControlName="login">
      <input type="password" placeholder="Senha" formControlName="password">
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="login-side">
    <img src="../../assets/heroes.png" alt="Heroes" width="500">
  </div>
</div>